.b-travel-slider {
  overflow: hidden;
  height: 429px;
  position: relative;

  .bgs, .flex-viewport, .slider-text-wrap,  .container, .slider-text , .slides, .slides li, .slides li a {
    height: 100%;
  }

  .bgs {
    position: relative;
    z-index: -1;
  }

  .slider-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
  }

  .slider-text {

    .slides li {

      &:after {
        @include pseudo-block($left: 0, $top: 0);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity .3s;
        z-index: -1;
      }

      &:hover {

        &:after {
          opacity: 1;
        }
      }
    }

    .slides .slider-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .inner-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.6;
      color: $color-10;
      margin-top: -40px;

      @media (min-width: $bp-small) {
        width: 600px;
        margin: 0;
      }

      @media (min-width: $bp-middle) {
        width: 700px;
      }
    }

    .custom-controls-container {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 80px;
      background: #9b3e3c;
      text-align: center;

      @media (min-width: $bp-small) {
        left: auto;
        //width: 113px;
        width: 48px;
        height: 172px;
        background: transparent;
      }

      &:before {
        @include pseudo-block($top: -257px, $bottom: 0, $left: -19px);
        background: $color-15;
        z-index: -1;
        display: none;
        transform: skewX(-17deg);
        width: 193px;

        //        left: 15px;
        //        transform: skewX(-24deg);
        //        width: 193px;

        //        transform: skewX(-16deg);
        //        width: 176px;
        //        left: 48px;


        @media (min-width: $bp-small) {
          display: block;
        }
      }
    }

    .flex-control-nav {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      padding: 25px 10px 10px 10px;
      height: 100%;
      text-align: center;

      @media (min-width: $bp-small) {
        left: auto;
        //width: 113px;
        width: 48px;
        height: auto;
        padding: 0 0 30px 0;
      }

//      &:before {
//        @include pseudo-block($top: -257px, $bottom: 0, $left: -19px);
//        background: $color-15;
//        z-index: -1;
//        display: none;
//        transform: skewX(-17deg);
//        width: 193px;

//        left: 15px;
//        transform: skewX(-24deg);
//        width: 193px;

//        transform: skewX(-16deg);
//        width: 176px;
//        left: 48px;

//
//        @media (min-width: $bp-small) {
//         display: block;
//        }
//      }

//      &:after {
//        @include pseudo-block($left: 50%, $top: 5px);
//        @include oneline-sprite-box($s-ico-arrow-4);
//        transform: translate(-50%, 0);
//        display: none;
//
//        @media (min-width: $bp-small) {
//          display: block;
//          transform: none;
//          left: auto;
//          right: 30px;
//          top: 38px;
//        }
//      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0 10px;
        padding: 0;
        text-align: center;
        line-height: 1.2;
        display: inline-block;
        vertical-align: bottom;
        position: relative;

        @media (min-width: $bp-small) {
          position: static;
          text-align: right;
          margin: 0 0 8px;
          padding: 0 30px 0 0;
          display: block;
        }

//        &:first-child {
//
//          &:after {
//            @include pseudo-block($left: 50%, $top: -22px);
//            @include oneline-sprite-box($s-ico-arrow-4);
//            transform: translate(-50%, 0);
//            display: block;
//
//            @media (min-width: $bp-small) {
//              display: none;
//            }
//          }
//        }
      }

      a {
//        color: $color-10;
//        font-family: $baskerville-italic;
//        font-size: 18px;
//        opacity: .3;
//        transition: opacity .3;
//        text-decoration: none;
//        position: relative;
//        display: block;
//
//        @media (min-width: $bp-small) {
//          transition: opacity .3s;
//        }

        @include text-hide();
        display: block;
        border: 2px solid $color-10;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transition: background 0.3s;

        &.flex-active {
          background: $color-10;
        }

        &:hover {

          .desktop & {
            background: $color-10;
          }
        }
      }
    }

    .title-wrap {
      font-size: 30px;
      font-family: $lucy-rose-personal-regular;
      position: relative;
      line-height: 1.2;
      margin-bottom: 12px;
      display: inline-block;

      @media (min-width: $bp-small) {
        font-size: 50px;
      }

      @media (min-width: $bp-middle) {
        font-size: 64px;
      }

      .title {
        display: inline-block;
      }

      .sub-title {
        display: block;
        font-size: 14px;

        @media (min-width: $bp-small) {
          position: absolute;
          right: 0;
          bottom: 18px;
          font-size: 18px;
        }

        @media (min-width: $bp-middle) {
          bottom: 10px;
          font-size: 25px;
        }

        & + .title {

          @media (min-width: $bp-small) {
            margin-bottom: 30px;
          }
        }
      }
    }

    .text, .desc {
      font-family: $din-regular;
      font-size: 12px;
      margin: 0 auto;

      @media (min-width: $bp-small) {
        font-size: 14px;
      }

      *:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0 0 11px;
      }
    }

    .desc {
      max-width: 290px;
    }

    .text {
      max-width: 536px;
    }

    .btn {
      margin-top: 20px;
    }

    .pagination-title {
      @include text-hide();
      opacity: 0;
      visibility: hidden;
    }
  }

  &.style-a {

    .custom-controls-container {
      background: $color-20;

      @media (min-width: $bp-small) {
        background: transparent;
      }

      &:before {
        background: $color-20;
      }
    }
  }
}