.b-chart {
  background: image-url('bg/bg-chart.png') no-repeat;
  background-size: 100% 100%;
  width: 861px;
  padding-top: 200px;
  position: relative;
  z-index: 1;
  display: none;
  margin: -250px auto 20px;
  left: 50%;
  @include transform(scale(0.7) translate(-50%, 0));
  @include transform-origin(left);
  padding-bottom: 34px;

  &:not(.processed) .chart-item {

    .desktop & {
      height: 0 !important;
    }
  }

  &.processed .item-ico {
    opacity: 1;
    @include transition-delay(.6s);

    &.popular {
      @include transition-delay(1.2s);
    }
  }

  @media (min-width: $bp-small) {
    display: block;
  }

  @media (min-width: $bp-middle) {
    margin-top: -200px;
    margin-bottom: 180px;
    left: auto;
    @include transform(none);
  }

  h2 {
    margin-bottom: 70px;
  }

  .chart-wrap {
    overflow: hidden;
  }

  .chart {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    right: -24px;
    width: 745px;
  }

  .chart-item {
    position: absolute;
    left: 0;
    bottom: 0;
    background: $color-1;
    box-shadow: 22px 20px 23px rgba(108, 37, 97, .15);
    @include transition(height .8s);

    &:before {
      @include oneline-sprite-box($icons, item-chart-shadow);
      @include pseudo-block($bottom: -34px, $left: 50%);
      @include translate(-50%, 0);
    }
  }

  .item-ico {
    position: absolute;
    opacity: 0;
    @include transition(opacity .6s);

    &.popular {
      @include oneline-sprite-box($icons, ico-popular);
      right: 10px;
      top: 10px;
    }

    &.low, &.med, &.high {
      left: 10px;
      bottom: 10px;
    }

    &.low {
      @include oneline-sprite-box($icons, ico-low);
    }

    &.med {
      @include oneline-sprite-box($icons, ico-med);
    }

    &.high {
      @include oneline-sprite-box($icons, ico-high);
    }
  }

  .ideal, .legend span:before {
    @include background-image(repeating-linear-gradient(-55deg, #fbac2c, #fbac2c 2px, transparent 2px, transparent 6px));
    opacity: .8;
  }

  .ideal {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 188px;
    width: 814px;
    height: 35px;
    z-index: -1;
  }

  .legend, .axis, .legend-wrapper {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $din-cond-bold;
    letter-spacing: .06em;
  }

  .legend, .legend-wrapper {
    position: absolute;
    text-align: center;
    bottom: -126px;
    left: 0;
    right: 0;
  }

  .legend-wrapper {
    text-transform: uppercase;

    .left-part {
      float: left;
    }

    .right-part {
      float: right;
    }

    .title, .legend-item, .ico-popular {
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      padding: 14px 16px 14px 0;
      margin-right: 20px;
      border-right: 1px solid #d0c2b8;
    }

    .legend-item {
      position: relative;
      padding-right: 34px;
      margin-right: 26px;

      &:before {
        @include pseudo-block($right: 0, $top: 50%);
        @include translate(0, -50%);
      }

      &.ico-low:before {
        @include oneline-sprite-box($icons, ico-low-def);
      }

      &.ico-med:before {
        @include oneline-sprite-box($icons, ico-med-def);
      }

      &.ico-high:before {
        @include oneline-sprite-box($icons, ico-high-def);
      }
    }

    .ico-popular {
      @include oneline-sprite-box($icons, ico-popular);
      margin-left: -10px;
    }
  }

  .legend {

    span {
      position: relative;
      padding-left: 76px;

      &:before {
        @include pseudo-block($left: 0, $top: 50%);
        @include translate(0, -50%);
        width: 62px;
        height: 24px;
      }
    }
  }

  .axis {
    position: absolute;

    &.y {
      bottom: 54px;
      height: 323px;
      left: -22px;

      .i {
        height: 25%;
        position: relative;

        &:before {
          @include pseudo-block($left: calc(100% + 7px), $top: 50%);
          border-top: 1px solid rgba(47, 49, 54, .17);
          width: 818px;
        }
      }

      .text {
        @include transform(rotate(-90deg));
        @include transform-origin(bottom, center);
      }
    }

    &.x {
      width: 780px;
      display: table;
      table-layout: fixed;
      margin: 0 auto;
      top: calc(100% + 5px);
      left: 6px;
      right: 0;

      .i {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }

    span {
      display: block;
    }
  }
}