.site-footer {
  line-height: 1.2;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 0 41px;
  text-align: center;
  border-top: 1px solid $color-32;
  margin: 0 13px;
  background: $color-10;

  @media (min-width: $bp-small) {
    padding: 69px 0 41px;
  }

  .front & {
    border: none;
  }

  .container {
    padding: 0;
    height: auto;
    margin: 0 auto;
  }

  .img, .field-type-image {
    width: 200px;
    margin: 0 auto;

    @media (min-width: $bp-small) {
      width: auto;
    }
  }

  .social {
    display: none;
    text-align: center;
    margin-bottom: 21px;

    @media (min-width: $bp-small) {
      display: block;
    }

    .ico {
      color: $color-21;
      font-size: 15px;

      &:hover {
        color: $color-15;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 18px;

      li {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 12px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .navigation {
    font-family: $din-cond-bold;
    position: relative;
    text-align: center;
    margin-bottom: 35px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 0 10px 3px;
      padding: 0;

      a:hover {
        color: $color-15;
      }
    }
  }

  a {
    color: $color-4;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: $color-15;
    }
  }

  .logo {
    margin-bottom: 30px;
    transition: opacity .3s;
    backface-visibility: hidden;

    &:hover {
      opacity: .7;
    }
  }

  .btn {
    margin-bottom: 28px;
  }

  .link.style-burgundy {

    &:hover {
      color: $color-10;
    }
  }

  .img-wrap {
    margin-bottom: 40px;
  }

  .copy {
    color: #a2a2a2;
    text-align: center;
  }
}