$s-arrow-select-1: 147px 100px -147px -100px 17px 11px 174px 164px 'sprite.png?t=1518447144386';
$s-arrow-select-2: 123px 112px -123px -112px 13px 8px 174px 164px 'sprite.png?t=1518447144386';
$s-arrow-select-3: 108px 96px -108px -96px 11px 7px 174px 164px 'sprite.png?t=1518447144386';
$s-arrow-select-4: 120px 100px -120px -100px 17px 11px 174px 164px 'sprite.png?t=1518447144386';
$s-arrow-select-5: 108px 89px -108px -89px 12px 7px 174px 164px 'sprite.png?t=1518447144386';
$s-arrow-select: 137px 100px -137px -100px 8px 7px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-arrow-2: 20px 144px -20px -144px 20px 20px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-arrow-3: 108px 103px -108px -103px 6px 9px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-arrow-4: 100px 33px -100px -33px 20px 20px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-arrow-5: 120px 78px -120px -78px 22px 22px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-arrow: 0px 144px 0px -144px 20px 20px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-high-def-a: 147px 0px -147px 0px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-high-def: 147px 39px -147px -39px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-high: 73px 33px -73px -33px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-low-def-a: 120px 39px -120px -39px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-low-def: 54px 73px -54px -73px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-low: 120px 0px -120px 0px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-med-def-a: 81px 73px -81px -73px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-med-def: 27px 73px -27px -73px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-med: 0px 73px 0px -73px 27px 39px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-popular: 73px 0px -73px 0px 47px 33px 174px 164px 'sprite.png?t=1518447144386';
$s-ico-search: 108px 112px -108px -112px 15px 14px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-bird-a: 64px 112px -64px -112px 26px 18px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-bird-f: 147px 78px -147px -78px 24px 22px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-checkbox-active: 100px 53px -100px -53px 19px 19px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-denied: 0px 0px 0px 0px 73px 73px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-marker: 90px 112px -90px -112px 18px 18px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-search-b: 0px 112px 0px -112px 32px 32px 174px 164px 'sprite.png?t=1518447144386';
$s-icon-submit-a: 108px 73px -108px -73px 11px 16px 174px 164px 'sprite.png?t=1518447144386';
$s-n-icon-bird: 32px 112px -32px -112px 32px 22px 174px 164px 'sprite.png?t=1518447144386';
$s-slider-article-arrow: 164px 100px -164px -100px 8px 10px 174px 164px 'sprite.png?t=1518447144386';
