input:not([type=checkbox]):not([type=radio]), select, textarea {
  @include appearance(none);
  @include box-shadow(none);
  @include border-radius(0);
}

input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
  background: #fff;
  border: 1px solid #000;
  padding: 9px 14px;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;

  @media (min-width: $bp-small) {
    padding: 12px 14px;
  }
}

textarea {
  height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;

  &.error + label {
    text-decoration: underline;
    color: red;

    &:before {
      background: red;
      border-color: red;
    }
  }

  &:checked, &.error:checked {

    & + label:before {
      @include oneline-sprite($icons, icon-checkbox-active);
      border: none;
    }
  }

  & + label {
    cursor: pointer;
    position: relative;
    padding-left: 34px;
    line-height: 1.6;
    display: inline-block;

    &:before {
      @include pseudo-block($left: 0, $top: 1px);
      background: transparent;
      width: 19px;
      height: 19px;
      border: 2px solid $color-8;
    }
  }
}

select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
  @include transition(box-shadow .3s);

  &:focus:not([type=file]) {
    border-color: rgba(0, 0, 0, .4);
    @include box-shadow(inset 0 0 9px 0 $color-7);
  }

  &.error {
    border-color: red;

    & + .select2-container--default .select2-selection--single {
      border: 1px solid red;
    }
  }
}

input[readonly] {
  border: 1px solid #000 !important;
  @include box-shadow(none !important);
  opacity: .5;
}

label {
  font-weight: normal;
  font-family: $din-regular;
  line-height: 1.2;
  margin-bottom: 8px;
}

textarea {
  resize: none;
  display: block;
}

select {
  cursor: pointer;
  padding-right: 26px;
  background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAQAAACoRNXiAAAAK0lEQVQY02NgoA0w/mb8Hw6/oUuaIkmaYuotgEoVYDd6LVBqLW6bj5HsWAAv0Bfed1VYOwAAAABJRU5ErkJggg==') 96% 50% no-repeat;
  opacity: 0;
}

.form-required {
  color: $color-8;
  line-height: 0;
  font-size: 24px;
  position: relative;
  top: 8px;
}

.form {

  .row {
    margin: 0;

    @media (min-width: $bp-small) {
      margin: 0 -7px;
    }

    .form-item, .col {
      padding: 0;

      @media (min-width: $bp-small) {
        padding: 0 7px;
      }
    }

    .col:first-child:last-child {
      float: none;
      margin: 0 auto;
    }
  }

  .b-cols {
    font-family: $din-regular;
    line-height: 1.8;
    margin-bottom: 8px;

    @media (min-width: $bp-small) {
      margin-bottom: 30px;
    }
  }

  .success, .denied {
    font-size: 12px;
    position: relative;
    padding-top: 25px;

    @media (min-width: $bp-middle) {
      padding-top: 0;
    }

    &:before {
      @include pseudo-block($left: 50%, $bottom: 100%);
      z-index: 3;
      @include translate(-50%, 0);

      @media (min-width: $bp-middle) {
        @include translate(-50%, -25px);
      }
    }

    h6 {
      text-align: center;
      color: #414141;
    }
  }

  .success:before {
    @include retina-sprite($icons, $icons2, icon-success);
  }

  .denied:before {
    @include oneline-sprite-box($icons, icon-denied);
  }

  .form-item {
    margin: 0 0 7px;

    @media (min-width: $bp-small) {
      margin: 0 0 15px;
    }
  }

  .form-actions {
    margin: 10px 0 5px;
    text-align: center;
    position: relative;

    @media (min-width: $bp-small) {
      margin-top: 30px;
    }

    .ajax-progress {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: 9998;

      .throbber {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 9999;
        height: 60px;
        width: 60px;
        margin: 0;
        float: none;
        background: rgba(0, 0, 0, 0) image-url('ATJ-Logo-2color.gif') no-repeat 50% 50%;
        background-size: 60px 60px;

        &:before {
          @include pseudo-block($left: 50%, $top: -44px);
          @include transform(translate(-50%, 0));
          content: 'Processing...';
          color: $color-1;
          font-size: 20px;
          margin-left: 5px;
        }
      }
    }

    .trust-wave-wrap {
      margin-bottom: 20px;

      @media (min-width: $bp-small) {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 50%;
        @include transform(translate(0, -50%));
      }
    }
  }

  .form-submit {
    padding: 1px 29px 0 0;
    margin: 0;
    background: transparent image-url('bg/icon-submit.png') no-repeat calc(100% - 5px) 50%;
    border: none;
    text-transform: uppercase;
    font-family: $din-cond-bold;
    line-height: 1.4;
    color: $color-8;
    font-size: 20px;
    @include transition(visibility .3s, opacity .3s);

    @media (min-width: $bp-small) {
      font-size: 24px;
    }

    &:hover {
      @include animation(move-left-right-position 1.6s infinite linear);
    }

    &.webform-previous {
      padding: 1px 0 0 29px;
      background: transparent image-url('bg/icon-submit-a.png') no-repeat calc(0% + 5px) 50%;
      margin-right: 30px;

      &:hover {
        @include animation(move-right-left-position 1.6s infinite linear);
      }
    }

    &.progress-disabled {
      visibility: hidden;
      opacity: 0;
    }
  }

  #divSiteSeal {
    margin-top: 30px;
  }

  .views-exposed-widgets {
    margin-bottom: 0;
  }

  .views-exposed-form .views-exposed-widget {
    padding: 0;
  }

  .form-managed-file {
    margin-bottom: 10px;
    min-height: 57px;
    padding: 10px;
    position: relative;
    border: 1px solid #000;

    .form-file {
      background: none !important;
      border: none !important;;
      display: inline-block;
      vertical-align: middle;
      width: auto !important;;
    }

    .file {

      img {
        margin-top: 7px;
      }
    }

    .form-submit, .file-resup-wrapper a.button {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 19px;
      font-family: $din-cond-bold;
      line-height: 1.4;
      color: #d0423b;
      border: 2px solid #d0423b;
      background: none;
      @include transition(background .2s, color .2s);
      padding: 3px 6px;

      &:hover {
        background: #d0423b;
        color: #ece8e5;
      }
    }

    .form-submit {
      margin: 10px 0 20px;

      @media (min-width: $bp-small) {
        margin: 0 0 0 20px;
      }
    }

    .file-resup-wrapper {

      .drop {
        border-color: rgba(0, 0, 0, .3);
      }

      .drop-message {
        color: rgba(0, 0, 0, .5);
      }

      a.button {
        margin-right: 10px;
        text-decoration: none;

        &.disabled {
          color: rgba(0, 0, 0, .3);
          border-color: rgba(0, 0, 0, .3);

          &:hover {
            color: rgba(0, 0, 0, .3);
            background: transparent;
          }
        }
      }
    }

    .form-file {
      padding: 2px 0 !important;
    }

    .ajax-progress {
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background: rgba(255, 255, 255, 0.8);
      @include text-hide();
      border-radius: 4px;
      z-index: 2;

      .throbber {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        height: 30px;
        width: 30px;
        margin: 0;
        float: none;
        background: rgba(0, 0, 0, 0) image-url('ATJ-Logo-2color.gif') no-repeat 50% 50%;
        background-size: 30px 30px;
      }
    }
  }
}

.form-item {
  margin: 0 0 15px;
}

.field-expiration-date {

  .form-item {
    position: relative;
  }

  .field-suffix {
    position: absolute;
    right: -3px;
    top: 6px;
    display: none;

    @media (min-width: $bp-small) {
      display: block;
    }
  }
}

.submitted-countries.form-checkboxes {
  margin-bottom: 20px;

  @media (min-width: $bp-small) {
    padding: 0 70px;

    .webform-component--traveler-inforamtion & {
      padding: 0;
    }
  }

  @media (min-width: $bp-middle) {
    width: 735px;
    padding: 0;
    margin-bottom: 50px;
  }

  label {
    font-family: $din-medium;
    margin-bottom: 0;
  }

  .form-item {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 10px;

    @media (min-width: $bp-small) {
      width: 160px;
      margin-right: 20px;
    }
  }

  .form-item {
    margin-bottom: 8px;
  }
}

.checkbox-single {

  .form-checkboxes {
    width: 100%;
    margin-bottom: 30px;
  }

  label {
    font-family: $din-regular;
  }

  .form-item {
    width: 100%;
    display: block;
  }
}

.form-radios {
  margin-top: 17px;

  .form-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
}

.form-type-desc {
  margin-bottom: 20px;
}

.form-submit {
  cursor: pointer;
}

.captcha {
  padding: 0;
  margin: 20px 0 0;
  border: none;

  @media (min-width: $bp-small) {
    margin: 50px 0 0;
  }

  legend {
    display: none;
  }

  .fieldset-wrapper {
    position: relative;
  }

  .form-item-captcha-response {
    max-width: 300px;
    margin-top: 20px;

    @media (min-width: $bp-small) {
      margin-top: 0;
      position: absolute;
      left: 200px;
      top: -7px;
    }
  }
}