.form-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 194px;
  border-left: 1px solid #fff;

  .page-type-a & {
    border-left-color: $color-1;
  }

  .form-item, .form-actions {
    margin: 0;
  }

  input:not([type=submit]):not([type=checkbox]):not([type=radio]) {
    background: transparent;
    border: none;
    text-transform: none;
    @include input-placeholder(#fff);
    color: #fff;
    font-size: 14px;
    padding: 10px 10px 9px 36px;
    width: 100%;

    &:focus {
      border-color: transparent;
      @include box-shadow(none);
    }

    .page-type-a & {
      @include input-placeholder($color-1);
      color: $color-1;
    }
  }

  .form-actions {
    position: absolute;
    left: 12px;
    top: 50%;
    @include translate(0, -50%);
    font-size: 0;
  }

  .form-submit {
    @include text-hide();
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    @include oneline-sprite-box($icons, icon-search);

    .page-type-a & {
      @include oneline-sprite($icons, icon-search-c);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      @include animation(none);
    }
  }
}