.section-disclaimer {
  padding: 10px 0;
  text-align: center;
  color: $color-10;
  line-height: 1.2;
  background: $color-1;
  font-family: $din-regularitalic;
  font-size: 12px;

  @media (min-width: $bp-small) {
    font-size: 14px;
  }

  @media (min-width: $bp-middle) {
    font-size: 16px;
  }

  p {
    margin: 0;
  }
}